@charset"UTF-8";
@import "reset";

body{
	color:#383838;
	font-size: 16px;
	margin:0;
}
li{
	list-style: none;
}
.container{
	width:900px;
	padding: 0;
}
.flexbox{
	display:flex;
	justify-content: space-between;
}
.top__ttl{
			font-size: 24px;
		font-weight: bold;
		border-bottom: 2px solid;
		text-align: center;;
		margin-right: auto;
		margin-left: auto;
		width:80px;
		padding-bottom: 10px;
		margin-bottom: 30px;
}
.header{
	background-color: #193833;
	height:70px;
	display: flex;
	&__left{
		padding-top: 30px;
		margin-left: 50px;
	}
	&__ttl{
		
		font-size: 20px;
		color:#fff;
		
	}
	&__box{
		display: flex;
		width:1000px;
		margin-right: auto;
		margin-left: auto;
    	justify-content: space-between;
	}
	&__right{
		padding-top: 30px;
		margin-right: 50px;
	}
	&__right--nav{
		display: flex;
		
	}
	&__right--nav a{
		display: block;
		color:#fff;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.main{
	&__img{
		img{
			width:100%;
		}
		
		// background-size: cover;
		// background-repeat: no-repeat;
	}
}
.news{

	padding-top: 50px;
	padding-bottom:50px;
	&__ttl{
		font-size: 24px;
		font-weight: bold;
		border-bottom: 2px solid;
		text-align: center;;
		margin-right: auto;
		margin-left: auto;
		width:80px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
	&__article{

		display: flex;
		margin-bottom: 10px;
		border-bottom: 1px solid;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	&__date{
		font-size: 14px;
	}
	&__txt{
		margin-left: 50px;
		font-size: 14px;
	}
}
.event{
	padding-bottom: 50px;
	&__box img{
		width: 250px;
		height:140px;
	}

	&__box{
		margin-right: 20px;
		&--ttl{
			margin-top: 20px;
			font-size: 14px;

		}
		&--ttl a{
			display: block;
			color:#383838;
		}
	}
	&__box:last-of-type{
		margin-right: 0;
	}
}

.blog{
	padding-bottom: 50px;
	&__img{

	}
	&__img img{
		width:200px;
		height:150px;

	}
	&__box{
		width:210px;
		margin-right: 10px;
	}
	&__box:last-of-type{
		margin-right: 0;
	}
	&__box{ 
		a{
		display: block;
		color:#383838;
	}
	&--date{
		margin-top: 10px;
		font-size: 14px;
	}
	&--ttl{
		margin-top: 10px;
		font-size: 17px;
	}
	&--txt{
		margin-top: 10px;
		font-size: 15px;
	}
}
}

.contact{
	padding-bottom: 50px;
	&__left{
		img{
			width:400px;
			border-radius: 10px;
		}
	}
	&__right{
		width:490px;
		margin-left: 10px;
		color:#fff;
		padding: 50px 70px;
		background-color:  #a58b82;
		border-radius: 10px;
		box-sizing: border-box;
		&--ttl{
			font-size: 22px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		&--txt{
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

}
.footer{
	background-color: #193833;
	color:#fff;
	height:70px;

	&__nav--ul{
		display: flex;
		width:350px;
		margin-right: auto;
		margin-left: auto;
	}
	&__nav--li{
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 30px;
		a{
			display: block;
			color:#fff;

		}
	}
}





